@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/assets/stylesheets/style.css" rel="stylesheet" />
<link href="~/assets/stylesheets/app.css" rel="stylesheet" />
<link href="~/assets/stylesheets/new-style.css" rel="stylesheet" />
<link href="~/assets/stylesheets/noty.min.css" rel="stylesheet" />
<link href="~/assets/stylesheets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/assets/stylesheets/style.css" rel="stylesheet" />
<link href="~/assets/stylesheets/svg-external.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 d-inline-flex mt-4 mb-4">
        @Html.Raw(Model.innerHtml)
    </div>
</div>



<script>
    function OpenCasinoGame(slotId) {
        var win_open = window.open('/Game/Open?slotid=' + slotId, "game", 'width=1366,height=768,scrollbars=yes');
        /*axios.get('/api/slot/open/'+slotId,{params:{api_token:'lwMrMHBQcxU0kqTEmsquU6HcXtS0E5jw65LDjvSDimk7iDG4EsHixH0ApJFQ'}}).then(res=>{
            let data = res.data;
            if(data.returnCode=='0'){
                win_open.location.href=data.gameUrl;
            } else{
                alert(data.message);
            }

        }).catch(e=>{
            console.log(e);
        });*/
    }
</script>
