@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/assets/stylesheets/style.css" rel="stylesheet" />
<link href="~/assets/stylesheets/app.css" rel="stylesheet" />
<link href="~/assets/stylesheets/new-style.css" rel="stylesheet" />
<link href="~/assets/stylesheets/noty.min.css" rel="stylesheet" />
<link href="~/assets/stylesheets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/assets/stylesheets/style.css" rel="stylesheet" />
<link href="~/assets/stylesheets/svg-external.css" rel="stylesheet" />

        @* carousel *@
           <div id="carouselExample" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/b1_bg.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/b1_bg.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
         @* carousel *@

         <div class="row">
            <div class="col-md-2 d-inline-flex m-5">
                <a class="cs-btn" href="javascript:void OpenCasinoGame(&quot;lobby300_ev1&quot;);">
                    <div class="circle">
                        <img class="circle-img" src="/assets/images/bg/cs_btn.png">
                        <div class="img-cont">
                            <div class="main-img">
                                <img src="/assets/images/casino/evolution.png">
                                <img class="on" src="/assets/images/casino/hover.png">
                            </div>
                            <div class="text-cont">
                                <img src="/assets/images/icon/casino/evolution.png">
                            </div>
                        </div>
                    </div>
                    <p class="name">에볼루션게이밍</p>
                </a>
            </div>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="col-md-12 d-inline-flex mt-4 mb-4">
                        @Html.Raw(Model.innerHtml)
                    </div>
                </div>
            </main>
        </div>


<script>
    function OpenCasinoGame(slotId) {
        var win_open = window.open('/Game/Open?slotid=' + slotId, "game", 'width=1366,height=768,scrollbars=yes');
        /*axios.get('/api/slot/open/'+slotId,{params:{api_token:'lwMrMHBQcxU0kqTEmsquU6HcXtS0E5jw65LDjvSDimk7iDG4EsHixH0ApJFQ'}}).then(res=>{
            let data = res.data;
            if(data.returnCode=='0'){
                win_open.location.href=data.gameUrl;
            } else{
                alert(data.message);
            }

        }).catch(e=>{
            console.log(e);
        });*/
    }
</script>
