html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.col-md-12.d-inline-flex {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.main-img {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  box-sizing: border-box;
  padding: 10px;
}
img.on {
  display: none;
}
.text-cont {
  display: none;
}
img.circle-img {
  display: none;
}

.col-md-12.d-inline-flex.mt-4.mb-4 {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
  text-align: center;
}

body {
  background: url(/images/pexels-raka-miftah-4253692.jpg);
  width: 100%;
  background-size: cover;
}
a.nav-link.text-dark {
  color: white !important;
}
a.navbar-brand {
  color: white !important;
}
h2 {
  font-size: 17px;
  color: white;
}
h1 {
  display: none;
}
.border-bottom {
  background: black !important;

}
.form-floating input {
  margin-bottom: 10px;
}
.col-md-4 {
  background: #00000075;
  border-radius: 7px;
  padding: 42px;
  margin: 70px;
}
section div p {
  margin-bottom: 2px;
}
section div p a{
  color: white;
  text-decoration: unset;
}
label.form-label {
  color: white;
}
footer.border-top.footer.text-muted {
  background: black;
  color: white;
}
footer.border-top.footer.text-muted a {
  color: white;
  text-decoration: unset;
}
button#login-submit {
  background: #871616;
  border: #871616;
}
nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow{
  background: black !important;
}
.carousel {
  height: 400px; /* Set the desired height */
  overflow: hidden; /* Ensure the images do not overflow */
}

.carousel-item img {
  object-fit: cover; /* Ensure the images cover the whole slide */
  height: 100%; /* Make sure the image fills the slide */
  width: 100%; /* Make sure the image fills the slide */
}